@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 0;
	background: #ede9e0;
}

.wrapper {
	width: 1024px;	
	margin: 0 auto;	;
	background-repeat: no-repeat;
	background-position: 20px 0;
}
.header {
	padding-top: 10px;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.navigation-logo {}
.header__navigation {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
}
.header__navigation-list {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none;
}
.header__navigation-item {
	padding: 0 10px;
}
.header__navigation-link {
	color: #202020;
}
.phone {
	display: flex;
	align-items: center;
	color: #510fad;
}
.phone:hover {
	color: #737274;
}

.main {}

.promo {
	width: 940px;
	min-height: 560px;
}
.promo__inner {
	padding-left: 380px;	
	padding-top: 77px;
}
.promo__item {
	width: 520px;
}
h1 {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 48px;
	line-height: 48px;
}
.title {
	padding-left: 10px;
	border-left: 3px solid #510fad;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 50;
	line-height: 30px;
	text-transform: uppercase;
}
.about {
	background-color: #510fad;
	padding-top: 120px;
	padding-bottom: 120px;
}
.about__title {
	margin: 0 auto 75px;
	width: 360px;
}
.about__head {
	margin-top: 0;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
	color: #fff;
}
.about__item {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
	color: #b8adc8;
}
.about__image {
	flex-basis: 50%;
}
.about__image img {
	border-radius: 10px;
	max-width: 100%;
	box-shadow: -10px -10px 40px 0px #2d0861,
				1px 0px 0px 0px #490e9d;
}
.about__description {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	max-width: 40%;
}
.about__list {
	margin-top: 20px;
	margin-bottom: 40px;
	padding-left: 20px;
	list-style: none;
	list-style-type: disc;
	color: #fff;
}
.about__list-item {}
.button {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 50;
}
.button--about {
	color: #ffec00;
}
.button--about:hover {
	color: #b8adc8;
}

.animals {}

.animals__head {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
	margin-left: 320px;
}

.animals__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.animals__item {
}
.animals__item-head {
	margin-bottom: 10px;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	letter-spacing: 50;
	line-height: 40px;
}

.animals__image {
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 50%;
}

.animals__discriptions {
	margin-left: 20px;
	margin-right: 20px;
	padding: 0;
	width: 300px;
}

.animals__discriptions p {
	margin-top: 0;
	margin-bottom: 40px;
}
.button--animals {
	text-transform: uppercase;
	color: #510fad;
}

.button--animals:hover {
	color: #737274;
}

.reviews {}

.reviews__head {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
}

.reviews__item {}

.reviews__item-name {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	letter-spacing: 50;
	line-height: 40px;
}

.time {}

.reviews__image {}

.reviews__title {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
    font-style: italic;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
}

.reviews__link {
	color: #510fad;
}

.reviews__link:hover {
	color: #737274;
}

.blog{
	width: 940px;
	display: inline-block;
	background-repeat: repeat;
}

.blog__info {}

.blog__description {}

.blog__head {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
}

.blog__description-title {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
}

.blog__social {}

.sprite_social {
	background-image: url(image/sprite_social.png);
    background-repeat: no-repeat;
    display: block;
}

.blog__post {}

.blog__card {}

.blog__item {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	letter-spacing: 50;
	line-height: 40px;
}
.button--post {
	color: #510fad;
}
.button--post:hover {
	color: #737274;
}
.contacts {}

.contacts__head {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
}
.contacts__info {}

.contacts__list {}

.contacts__list-name {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 50;
	line-height: 30px;
}
address {
	font-style: normal;
}
.contacts__link {}

.footer {}

.footer__navigation-list {}

.footer__social {}