@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #202020;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 0;
	background: #ede9e0;
}

.wrapper {
	width: 1024px;	
	margin: 0 auto;	
	background-repeat: no-repeat;
	background-position: 20px 0;
}
.header {
	padding-top: 10px;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.navigation-logo {}
.header__navigation {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
}
.header__navigation-list {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none;
}
.header__navigation-item {
	padding: 0 10px;
}
.header__navigation-link {
	color: #202020;
}
.phone {
	display: flex;
	align-items: center;
	color: #510fad;
}
.phone:hover {
	color: #737274;
}

.main {}
.promo {
	min-height: 560px;
}
.promo__inner {
	padding-left: 380px;	
	padding-top: 77px;
}
.promo__item {
	width: 520px;
}
h1 {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 48px;
	line-height: 48px;
}
.title {
	padding-left: 10px;
	border-left: 3px solid #510fad;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 50;
	line-height: 30px;
	text-transform: uppercase;
}
.about {
	position: relative;
	display: flex;
	background-color: #510fad;
	margin: 80px 0;
	padding-top: 120px;
	padding-bottom: 120px;
}
.about:before {
	content:"";
	position: absolute;
	background-image: url(../images/bg_about.svg);
	height: 80px;
	left: 0;
	right: 0;
	top: -80px;
	background-size: 100%;
}
.about:after {
	content:"";
	position: absolute;
	background-image: url(../images/bg_about.svg);
	height: 80px;
	left: 0;
	right: 0;
	bottom: -80px;
	background-size: 100%;	
	background-position: 0 bottom;
}
.about__title {
	margin: 0 auto 75px;
	width: 360px;
}
.about__head {
	margin-top: 0;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
	color: #fff;
}
.about__item {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
	color: #b8adc8;
}
.about__image {
	flex-basis: 50%;
}
.about__image img {
	border-radius: 10px;
	max-width: 100%;
	box-shadow: -10px -10px 40px 0px #2d0861,
				1px 0px 0px 0px #490e9d;
}
.about__description {
	flex-wrap: wrap;
	margin-left: 20px;
	max-width: 40%;
}
.about__list {
	margin-top: 20px;
	margin-bottom: 40px;
	padding-left: 20px;
	list-style: none;
	list-style-type: disc;
	color: #fff;
}
.about__list-item {}
.button {
	position: relative;
	padding-right: 40px;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 50;
}
.arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 20px;
}
.arrow:before,
.arrow:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
.arrow:before {
	width: 20px;
	height: 2px;
	background-color: currentColor;
}
.arrow:after {
	width: 10px;
	height: 10px;
	border-top: 2px solid currentColor;
	border-right: 2px solid currentColor;
	transform: rotate(45deg);
}
.button:hover .arrow:before {
	background-color: currentColor;
}
.button:hover .arrow:after {
	border-color: currentColor;
}
.button--about {
	color: #ffec00;
}
.button--about:hover {
	color: #b8adc8;
}

.animals {
	padding: 80px 0;
}
.animals__head {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
	text-align: center;
}
.animals__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.animals__item {
	margin-bottom: 40px;
}
.animals__item-head {
	margin-bottom: 10px;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	letter-spacing: 50;
	line-height: 40px;
}
.animals__image {
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 50%;
}
.animals__discriptions {
	margin-left: 20px;
	padding: 0;
	width: 300px;
}
.animals__discriptions p {
	margin-top: 0;
	margin-bottom: 40px;
}
.button--animals {
	text-transform: uppercase;
	color: #510fad;
}
.button--animals:hover {
	color: #737274;
}

.reviews {
	padding: 80px 0;
}
.reviews__head {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
	text-align: center;
}
.reviews__item {
	max-width: 50%;
	background-image: url(../images/reviews_apostrophe.png);
	background-repeat: no-repeat;
	background-position: 10px 0px;
	background-size: 75px;
	padding-top: 65px;
}
.reviews__item-name {
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	letter-spacing: 50;
	line-height: 40px;
	margin: 0;
}
time {
	display: block;
	margin-bottom: 10px;
    font-style: italic;
	color: #b8adc8;
}
.reviews__item-message {
	margin-right: 20px;
	margin-left: 0;
	margin: 0 24px 0 0;
}
.reviews__item-message p {
	margin: 0;
}
.reviews__image {
	margin-top: 50px;
	flex-basis: 50%;
}
.reviews__image img {
	border-radius: 10px;
	max-width: 100%;
	box-shadow: -10px -10px 30px 2px #c4c1b9;
}
.reviews__title {
	margin-left: 470px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
    font-style: italic;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
	color: #b8adc8;
}	
.reviews__link {
	color: #510fad;
}
.reviews__link:hover {
	color: #737274;
}

.blog{
	padding: 80px 0;
	background-image: url(../images/bg.blog.png);
	background-repeat: repeat;
}
.blog__inner {
	padding-top: 100px;
	padding-bottom: 100px;
	justify-content: space-between;
}
.blog__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 48%;
}
.blog__description {}
.blog__head {
	margin-top: 0;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
	color: #fff;
}
.blog__description-item {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	letter-spacing: 50;
	line-height: 30px;
	color: #b8adc8;
}
.blog__social {
	display: flex;
	margin-top: 30px;
}
.social {
	background-image: url(../images/sprite_social.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	margin-right: 10px;
}
.social-vk {
	background-position: -242px -2px;	
}
.social-fb {
	background-position: -2px -2px;
}
.social-inst {
	background-position: -122px -2px;
}
.social-vk:hover {
	background-position: -332px -2px;	
}
.social-fb:hover {
	background-position: -62px -2px;
}
.social-inst:hover {
	background-position: -182px -2px;
}
.blog__post {
	display: flex;
	justify-content: space-between;
	width: 48%;
}
.blog__card {
	display: flex;
	flex-shrink: 0;
	flex-basis: 48%;	
	box-shadow: 0px 0px 10px 2px #420c8c;
}
.blog__card:hover {
	display: flex;
	flex-shrink: 0;
	flex-basis: 48%;	
	box-shadow: -10px 10px 40px 3px #390c77,
				10px -10px 40px 3px #390c77;
}
.blog__card-link {
	display: flex;
	flex-direction: column;
}
.blog__card-img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
	width: 100%;
	height: 160px;
	object-fit: cover;
}
.blog__item {
	display: flex;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	flex-direction: column;
	flex-grow: 1;
	padding: 20px 10px;
	background-color: #fff;
}
.blog__item-inner {
	flex-grow: 1;
	margin-top: 0;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	line-height: 30px;
	color: #202020;
}
.button--post {
	width: 150px;
	color: #510fad;
}
.button--post:hover {
	color: #737274;
}

.contacts {
	padding: 80px 0;
}
.contacts__head {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	letter-spacing: 50;
	line-height: 40px;
}
.contacts__info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contacts__list {
	margin-bottom: 40px;
	width: 48%;
}
.contacts__list-name {
	margin: 0;
	font-family: "Fira Sans", sans-serif;
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 50;
	line-height: 30px;
	color: #b8adc8;
}
address {
	font-style: normal;
}
.contacts__link:hover {
	color: #510fad;	
}

.footer {
	border-top: 1px solid #b8adc8;
	width: 940px;
	margin: 0 auto;
}
.footer__navigation {
	display: flex;
}
.footer__navigation-inner {
	display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}
.footer__navigation-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__navigation-item {
 	padding-right: 30px;
}
.footer__navigation-link {
	color: #b8adc8;
}
.footer__navigation-link:hover {
	color: #510fad;	
}
.footer__social {
	display: flex;
	align-items: center;
}
.footer__social-vk {
	background-position: -272px -2px;	
}
.footer__social-fb {
	background-position: -32px -2px;
}
.footer__social-inst {
	background-position: -152px -2px;
}
.footer__social-vk:hover {
	background-position: -302px -2px;	
}
.footer__social-fb:hover {
	background-position: -92px -2px;
}
.footer__social-inst:hover {
	background-position: -212px -2px;